@import url("/menu.css");
@import url("/busqueda.css");

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.flex-start {
  justify-content: flex-start;
}

.flex-around {
  justify-content: space-around;
}

img.img-s {
  width: 100px;
  height: 100px;
}

img.img-m {
  width: 200px;
  height: 200px;
}

img.rounded {
  border-radius: 50%;
}

img.half-rounded {
  border-radius: 50% 50% 0 0;
}

img.img-l {
  width: 300px;
  height: 300px;
}

.text-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  text-align: center;
}

.characterContainer {
  overflow: hidden;  
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  padding: 10px;
  width: 250px;
}

.characterContainer:hover {
  background-color: #ffffff;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.mainTitle {
  text-align: center;
  font-size: 2em;
  margin: 50px;
  color:rgb(57, 57, 57);
}

body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #e5e7eb;
  border-radius: 0.5rem;
  margin: 2rem auto;
  padding: 1rem;
  max-width: 30rem;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  h1 {
    text-align: center;
    margin-bottom: 2rem;
  }
  form{
  display: grid;
  grid-template-columns: 100px auto;
  gap: 1rem;
  align-items: center;
  margin-bottom: 2rem;
  label {
    font-size: 1.125rem;
  }
  .span-2 {
    grid-column: span 2;
  }
  .error{
    color: #ff4e33;
    font-size: 0.875rem;
    padding: 0.25rem;
    border-radius: 0.25rem;
    border: 1px solid #ff4e33;
    box-shadow: 0 0 5px rgba(255, 78, 51, 0.5);
    background-color: rgba(255, 78, 51, 0.1);
    margin:auto;
    width: 100%

  }
  input {
    padding: 0.5rem;
    font-size: 1.125rem;
    border: 1px solid #e5e7eb;
    border-radius: 0.5rem;
    :focus {
      outline: none;
      border-color: #86efac;
    }

  }

  button {
    padding: 0.5rem 1rem;
    font-size: 1.125rem;
    background-color: #6771ff;
    color: #fff;
    border: none;
    border-radius: 0;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    &:hover {
      background-color: #363afc;
    }

    &[disabled] {
      background-color: #e5e7eb;
      color: #333;
      cursor: not-allowed;
    }
  }

  button.reset {
    background-color: #ff7e67;
    &:hover {
      background-color: #ff4e33;
    }
  }
}
}